* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: auto;
  @include background-img;
  overflow-x: hidden;
  /* overflow-y: scroll; */
  > .show {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  /* display: none; */
}
