//ColorPalette
/* $main-bg: #fafdfe;
$banner: #f3ffff;
$blue-gray: #536977;
$dark-gray: #454545;
$cyan-light: #7bd1d1;
$light-blue: #3c6b89; */

//New color palette
$background: #f1f4fb;
$banner: #f8f8fc;
$link: #767b91;
$inactive: #8386c6;
$dark: #414870;
$subheader: #383f51;
$header: #272635;
$gray: #454545;

//Font sizes
$font-large: 48px;
$font-medium: 40px;
$font-normal: 20px;
$font-small: 16px;
$font-xsmall: 13px;

//Breakpoints

//480px
$small: 30em;
//768px
$medium: 48em;
//1024px
$large: 64em;
//1200px
$xtralarge: 75em;

//Breakpoints map
$breakpoints: (
  small: 30em,
  medium: 48em,
  large: 64em,
  xtralarge: 75em,
);
