* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  /* Homepage */

  .App {
    overflow: hidden;
  }
  .header-light {
    background: var(--header-bg);
    box-shadow: 0px 0px 5px #999;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
  }

  .links {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .link {
    font-family: "Maven Pro";
    font-weight: 500;
    text-decoration: none;
    color: var(--link-text);
  }
  .link:hover {
    color: var(--link-text);
    opacity: 0.6;
  }

  .logo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
  }
  .logo-faded {
    width: 120px;
    opacity: 0.2;
    transform: rotate(35deg);
  }

  .logo-svg {
    -webkit-filter: drop-shadow(2px 2px 3px rgb(0, 0, 0, 0.5));
    filter: drop-shadow(2px 2px 3px rgb(0, 0, 0, 0.5));
  }

  .svg-wrap {
    width: 62.6px;
    height: 66.6px;
    position: absolute;
    transform: rotate(-15deg);
  }

  .layout {
    background: var(--main-bg);
    width: 100vw;
    height: 100vh;
    margin-top: 80px;
    font-family: "Inter";
    font-weight: 600;
    overflow: hidden;
    background-image: url("../imgs/bg-img.svg");
    background-size: cover;
    background-position: center;
  }

  .hero {
    height: 200px;
    width: 340px;
    text-align: center;
    margin: 185px auto 0px auto;
  }

  .hero-header {
    font-size: 48px;
    margin-bottom: 15px;
  }

  .hero-subheader {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .hero-paragraph {
    margin-bottom: 15px;
  }

  .hero-footer {
    text-align: center;
    font-size: 20px;
  }
  .arrow {
    text-align: center;
    font-size: 25px;
    margin-top: 200px;
  }

  /* Homepage end */

  /* Languages */
  .languages {
    font-family: "Inter";
    text-align: center;
    height: 100vh;
    background-image: url("../imgs/bg-img.svg");
    background-size: cover;
    background-position: center;
    overflow: auto;
  }

  .exp-header {
    font-size: 48px;
    margin-top: 50px;
    color: var(--text-dark);
  }

  .language-exp {
    margin-top: 30px;
  }
  .language {
    padding-block: 25px;
    font-size: 40px;
    color: var(--link-text);
  }
  .front-exp {
    margin-top: 15px;
  }
  .front-header {
    font-size: 40px;
    padding-block: 25px;
    color: var(--link-text);
  }

  .exp-logo {
    padding: 0 10px 0 10px;
  }
  .back-exp {
    margin-top: 15px;
  }
  .back-header {
    font-size: 40px;
    padding-block: 25px;
    color: var(--link-text);
  }

  .logo-flex {
    display: flex;
    justify-content: center;
  }

  /* Languages end */

  /* Projects */

  .projects {
    font-family: "Inter";
    text-align: center;
    height: 100vh;
    background-image: url("../imgs/bg-img.svg");
    background-size: cover;
    background-position: center;
    overflow: auto;
  }

  .project-header {
    font-size: 48px;
    margin-top: 50px;
    color: var(--text-dark);
  }

  .category-wrap {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .category {
    padding: 0 10px 0 10px;
  }

  .project-btn {
    border: none;
    font-size: 30px;
    background: none;
    color: var(--light-blue);
  }
  .project {
    text-align: center;
  }
  .project-title {
    font-size: 20px;
    color: var(--text-dark);
    padding-block: 20px;
  }

  .project-img {
    max-width: 320px;
    min-width: 100px;
  }

  .project-desc {
    font-weight: bold;
    padding-block: 30px;
    width: 270px;
    margin: auto;
  }

  .project-arrow {
    font-size: 25px;
  }

  /* Projects end */

  /* About */
  .about {
    font-family: "Inter";
    text-align: center;
    height: 100vh;
    background-image: url("../imgs/bg-img.svg");
    background-size: cover;
    background-position: center;
    overflow: auto;
  }

  .about-header {
    font-size: 48px;
    margin-top: 50px;
    color: var(--text-dark);
  }

  .img-wrapper {
    width: 235px;
    height: 235px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 45px auto 0px auto;
    border-radius: 50%;
  }
  .about-img {
    width: 500px;
    align-self: center;
  }
  .text-wrapper {
    max-width: 500px;
    min-width: 200px;
    margin: 0 auto;
    overflow: hidden;
  }
  .about-subheader {
    font-weight: 600;
    font-size: 16px;
    max-width: 350px;
    margin: 0 auto;
  }

  .about-body {
    font-weight: 300;
    line-height: 20px;
    padding: 20px 20px;
    font-size: 13px;
    text-align: left;
  }

  .about-footer {
    font-weight: 600;
    font-size: 13px;
    padding: 0 20px 20px 20px;
    text-align: left;
  }

  .about-btns {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    margin: 0 auto 25px auto;
  }

  .contact,
  .readmore {
    font-size: 17px;
    font-weight: 700;
    color: var(--text-dark);
    padding: 10px 15px;
    border: none;
    background: var(--bg-detail);
  }

  .readmore:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .contact:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  }

  /* About end */

  /* Footer */

  .footer {
    height: 80px;
    width: 100%;
    background: var(--header-bg);
    font-family: "Maven Pro";
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  .left {
    display: flex;
    align-items: center;
    width: auto;
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-svg-wrap {
    width: 62.6px;
    height: 66.6px;
    transform: rotate(-15deg);
  }

  .logo-footer {
    -webkit-filter: drop-shadow(2px 2px 3px rgb(0, 0, 0, 0.5));
    filter: drop-shadow(2px 2px 3px rgb(0, 0, 0, 0.5));
  }

  .footer-text {
    text-align: center;
  }

  .takk {
    font-weight: 400;
    font-size: 16px;
  }

  .tilbake {
    font-size: 12px;
  }

  .footer-logo-faded {
    width: 120px;
    opacity: 0.2;
    transform: rotate(35deg);
    position: relative;
    top: -25px;
  }

  .faded-logo-wrapper {
    position: absolute;
    z-index: 0;
    overflow: hidden;
    height: 80px;
  }

  .right-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .github-icon {
    color: var(--link-text);
    font-size: 25px;
    position: relative;
    z-index: 5;
    height: 25px;
  }
  .footer-links {
    color: var(--link-text);
    text-decoration: none;
    padding: 0 5px 0 5px;
    font-weight: 500;
    position: relative;
    z-index: 5;
  }

  .footer-links:hover {
    cursor: pointer;
    color: var(--link-text);
    opacity: 0.6;
  }
  .link-wrap-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 5px 0 5px;
  }

  /* Footer end */
}
