.projects {
  opacity: 0;
  transition: opacity 1s ease-in;
  @include background-img;
  font-family: "Inter";
  color: $dark-gray;
  height: 100vh;
  overflow: auto;
  text-align: center;
  display: flex;
  .projects-container {
    padding: 1em;
    height: auto;
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    @include mq(medium) {
      flex-direction: row;
      justify-content: center;
    }

    @include mq(large) {
      justify-content: space-between;
    }
  }

  .projects-left {
    display: flex;
    flex-direction: column;

    .project-header {
      color: $dark-gray;
      font-size: 2.5rem;
      margin: 50px 0 25px 0;

      @include mq(medium) {
        font-size: 3rem;
        text-align: left;
        margin: 0 0 25px 0;
        max-width: 25rem;
      }

      @include mq(large) {
        max-width: none;
      }

      @include mq(xtralarge) {
        font-size: 4rem;
      }
    }

    .category-list {
      display: none;
      list-style: none;
      text-align: left;
      @include mq(medium) {
        display: block;
      }
      .active {
        font-size: 2.5rem;
        font-weight: 700;
        background: none;
        outline: none;
        border: none;
        display: block;
        cursor: pointer;
        color: $dark-gray;

        @include mq(large) {
          font-size: 3rem;
        }
        @include mq(xtralarge) {
          font-size: 3.5rem;
        }
        .item-span {
          display: flex;
          align-items: center;
          justify-content: space-between;

          img {
            width: 20px;
            display: block;
            margin-left: 10px;
          }
        }
      }

      .category-btn {
        font-size: 2rem;
        font-weight: 700;
        background: none;
        outline: none;
        border: none;
        display: block;
        cursor: pointer;
        color: $cyan-light;
        @include mq(large) {
          font-size: 2.5rem;
        }
        @include mq(xtralarge) {
          font-size: 3rem;
        }

        .item-span {
          display: flex;
          align-items: center;
          justify-content: space-between;

          img {
            width: 25px;
            display: none;
          }
        }
      }
    }

    .category-wrap {
      @include flex(center, center);
      min-width: 10em;
      max-width: 20em;
      margin: auto;
      @include mq(medium) {
        display: none;
      }
      .category {
        font-size: 2rem;
      }
      .project-btn {
        @include flex(center, center);
        border: none;
        background: none;
        font-size: 2rem;
        color: $cyan-light;
        cursor: pointer;
        &:active {
          opacity: 0.5;
        }
      }
    }
  }

  .projects-right {
    display: flex;
    flex-direction: column;

    .project {
      @include flex(center, center, column);
      height: 320px;
      width: 280px;
      @include mq(medium) {
        height: 500px;
        width: 400px;
      }
      .project-title {
        padding: 1.5em;

        @include mq(large) {
          font-size: 1.5rem;
        }

        @include mq(xtralarge) {
          font-size: 2rem;
        }
      }

      .project-img {
        max-width: 17em;
        @include mq(medium) {
          max-width: 20em;
        }

        @include mq(large) {
          max-width: 25em;
        }

        @include mq(xtralarge) {
          max-width: 30em;
        }
      }

      .project-desc {
        padding: 1.5em;
        font-weight: 700;

        max-width: 20rem;

        @include mq(large) {
          max-width: 25rem;
        }

        @include mq(xtralarge) {
          max-width: 30rem;
          font-size: 1.2rem;
        }
      }
    }
    .project-arrow {
      font-size: 2rem;
      margin-top: 1em;
      cursor: pointer;
    }
  }
}
