.kontakt {
  opacity: 0;
  transition: opacity 0.5s ease-in;

  height: 100vh;

  font-family: "Inter";
  font-weight: 600;
  overflow: hidden;
  display: flex;
  text-align: center;

  .contact-container {
    padding: 1em;
    height: auto;
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .hjem {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0.5rem;
      font-size: 1rem;
      color: $link;
      cursor: pointer;
      @include mq(small) {
        font-size: 2rem;
      }
      &:hover {
        opacity: 0.6;
      }
    }

    .contact-header {
      color: $header;
      margin: 0px 0 25px 0;
      text-shadow: 0px 1px 2px;
      font-size: 2.5rem;
      @include mq(medium) {
        font-size: 3.5rem;
      }
      @include mq(large) {
        font-size: 4rem;
      }
      @include mq(xtralarge) {
        font-size: 4.5rem;
      }
    }
    .form {
      width: 100%;
      max-width: 800px;
      height: 500px;
      display: flex;
      flex-direction: column;

      background: $banner;
      border: 2px solid #dddbf1;
      align-items: flex-start;
      padding: 1.5rem;

      label {
        padding-block: 0.5rem;
        text-shadow: 0px 1px 2px;
        color: $header;
        @include mq(medium) {
          font-size: 1.25rem;
        }
      }

      input {
        width: 100%;
        outline: none;
        border: none;
        font-size: 1rem;
        padding: 0.5rem;
        background: #e8e9f3;
      }

      textarea {
        width: 100%;
        height: 200px;
        resize: none;
        border: none;
        outline: none;
        background: #e8e9f3;
      }
      .send-btn {
        margin-top: 2rem;
        padding: 0.8rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: $dark;
        background: $banner;
        border: 2px solid #dddbf1;
        cursor: pointer;
        transition: opacity 0.3s ease-in-out;
        &:hover {
          opacity: 0.6;
          background: $header;
        }
      }
    }
  }
}
.sendt-container {
  padding: 1em;
  height: 100vh;
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include background-img;
  .sendt {
    color: $header;
    font-family: "Inter";
    margin: 25px 0px 25px 0px;
    text-shadow: 0px 1px 2px;
    font-size: 2.5rem;
    text-align: center;
    max-width: 750px;
    @include mq(medium) {
      font-size: 3.5rem;
    }
    @include mq(large) {
      font-size: 4rem;
    }
    @include mq(xtralarge) {
      font-size: 4.5rem;
    }
  }
}
