.header-light {
  @include flex(center, center);
  background: $banner;
  border-bottom: 1px solid #dddbf1;
  overflow: hidden;
  height: 3.5em;
  position: relative;
  width: 100%;
  top: 0;
  z-index: 10;

  .links {
    @include flex(space-between, center);

    height: 3.5em;
    .abstract-wrap {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      z-index: -1;
      .abstract {
        position: relative;
        fill-opacity: 1;
        z-index: -3;
        height: 46px;
        filter: drop-shadow(0px 0px 2px #e8e9f3);
        animation-name: shadowFade;
        animation-duration: 10s;
        animation-iteration-count: infinite;

        /* filter: drop-shadow(0px 0px 1px black); */
      }
    }

    .logo-wrap {
      @include flex(center, center);
      width: 3.125em;
      height: 3.5em;

      .svg-wrap {
        width: 62.6px;
        height: 66.6px;
        position: absolute;
        transform: rotate(-15deg);

        .logo-svg {
          -webkit-filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.28));
          filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.28));
        }
      }

      .logo-faded {
        width: 100px;
        opacity: 1;
        transform: rotate(35deg);
        z-index: -1;
      }
    }
  }
}

header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100vw;
  transition: all 0.5s ease;
}

@keyframes shadowFade {
  0% {
    filter: drop-shadow(0px 0px 2px #e8e9f3);
  }
  50% {
    filter: drop-shadow(0px 0px 2px #98a0fc);
  }
  80% {
    filter: drop-shadow(0px 0px 2px #c2c6f8);
  }
  100% {
    filter: drop-shadow(0px 0px 2px #e8e9f3);
  }
}
